
/**/
.column {
    float: left;
    width: 25%;
    padding: 0px;
    height: 150px;
    align: center;
}

/*+/- buttons not selectable*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.count:disabled{
    border: 0;
    background: aliceblue;
    width: 100px;
    height: 100px;
    font-size: large;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=range] {
    position: absolute;
    width: 329px;
    height: 39px;
    left: 169px;
    top: 591px
}

.km2 {
    position: absolute;
    left: 140px;
    top: 570px;
}

.kkm2 {
    position: absolute;
    left: 500px;
    top: 570px;
}


#floorspace-no {
    position: absolute;
    background: aliceblue;
    width: 90px;
    height: 98px;
    left: 710px;
    top: 591px;
    border: none;
    font-size: xx-large;
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.floorspace-no-class {
    position: absolute;
    background: aliceblue;
    left: 799px;
    width: 100px;
    top: 591px;
    height: 100px;
    border: none;
    font-size: xx-large;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 100px;
    padding-left: 10px;
}

.floorspace-text {
    position: absolute;
    width: 286px;
    height: 19px;
    left: 164px;
    top: 500px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}
.consumption-text {
    position: absolute;
    width: 651px;
    height: 34px;
    left: 175px;
    top: 749px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}

.consumption-calc {
    position: absolute;
    width: 313px;
    height: 43px;
    left: 581px;
    top: 749px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;

}

.year-price-text    {
    position: absolute;
    width: 262px;
    height: 17px;
    left: 174px;
    top: 795px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}

.year-price-calc    {
    position: absolute;
    width: 300px;
    height: 17px;
    left: 464px;
    top: 795px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}

.spot-price {
    position: absolute;
    width: 172px;
    height: 12px;
    left: 710px;
    top: 800px;

    font-family: Averta Std;
    font-size: 10px;
    line-height: 12px;
    color: #BBBBBB;

}

.fixed-price    {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 710px;
    top: 832px;

    /* shark */

    background: #F5F5F5;
    /* Mouse */

    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.tariffs-label  {
    position: absolute;
    width: 131px;
    height: 12px;
    left: 740px;
    top: 832px;

    font-family: Averta Std;
    font-size: 10px;
    line-height: 20px;
    color: #BBBBBB;

}


.savings-text   {
    position: absolute;
    width: 191px;
    height: 17px;
    left: 175px;
    top: 879px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}
.savings-calc   {
    position: absolute;
    width: 300px;
    height: 44px;
    left: 422px;
    top: 877px;

    font-family: Averta Std;
    font-size: 36px;
    line-height: 44px;
    color: #6BC38F;
    background: transparent;

}

.carbon-calc    {
    position: absolute;
    width: 300px;
    height: 22px;
    left: 473px;
    top: 936px;

    font-family: Averta Std;
    font-size: 18px;
    line-height: 22px;
    color: #6BC38F;
    background: transparent;
}

.themos-text    {
    position: absolute;
    width: 257px;
    height: 17px;
    left: 175px;
    top: 1047px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}

.themos-calc    {
    position: absolute;
    width: 9px;
    height: 17px;
    left: 460px;
    top: 1047px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;

}

.payback-text   {
    position: absolute;
    width: 106px;
    height: 17px;
    left: 326px;
    top: 1085px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;

}

.payback-calc   {
    position: absolute;
    width: 56px;
    height: 17px;
    left: 460px;
    top: 1085px;

    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
}

.source-text    {
    position: absolute;
    width: 676px;
    height: 120px;
    left: 164px;
    top: 1167px;
    font-family: Averta Std;
    font-size: 13px;
    line-height: 16px;
    color: #BBBBBB;
    background: transparent;

}

.get-themo-text {
    position: absolute;
    width: 177px;
    height: 25px;
    left: 578px;
    top: 1252px;
    font-family: Averta Std;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #000000;
    background: transparent;

}